    <!-- About Section -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <section id="about" class="container content-section text-center">
<!--         <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Skills & Language</h2>
                    <div class="w3-cell-row">
                        <div class="w3-container w3-red w3-cell">
                            <p>Education</p>
                            <p>...</p>
                            <p>MS</p>
                            <p>BA</p>
                        </div>

                        <div class="w3-container w3-green w3-cell">
                          <p>Experience</p>
                          <p>LOOXID LABS</p>
                          <p>Mini-Schools</p>
                          <p>KSRPD</p>
                        </div>
                    </div>
            </div>
        </div> -->

<div class="container">
        <div class="mbr-row mbr-justify-content-center mbr-black">
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 first-row-card">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h3 class="mbr-section-title card-title mbr-fonts-style align-center mbr-light display-5">Mobile application</h3>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 first-row-card">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h3 class="mbr-section-title card-title mbr-fonts-style align-center mbr-light display-5">Social website design</h3>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h3 class="mbr-section-title card-title mbr-fonts-style align-center mbr-light display-5">eCommerce website design</h3>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h3 class="mbr-section-title card-title mbr-fonts-style align-center mbr-light display-5">Corporate website design</h3>
                        
                        
                        
                    </div>
                </div>
            </div>        
        </div>
    </div>
    </section>